<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml">
<head>

  <% include ../partials/head %>

</head>
<body class="homepage" onload="load()">
<canvas width=800 height=550 id="thecanvas"></canvas>
  <div id="page-wrapper">

    <!-- Header Wrapper -->
    <div id="header-wrapper">
      <div class="container">
        <% include ../partials/header %>            
      </div>
    </div>

    <div id="main-wrapper">
      <div class="wrapper style3">
        <div class="inner" id="thehtml">
          <style>
            p,tr,td,th,p{
                font-size: 11px;
            }
            #thecanvas{
              display: none;
            }
            .top-title-left{
              float: left;
              text-align: center;
            }
            .top-title-right{
              float: right;
            }
            .content-wrap{
               width: 700px;
              margin: auto;
            }
            .row-content-1{
              overflow: hidden;
            }
            .article-list{
              text-align: center;
            }
            table.pdf-table {
                border-collapse: collapse;
                width: 100%;
            }

            table.pdf-table td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            table.pdf-table tr:nth-child(even) {
                background-color: #dddddd;
            }
            .top-title-ft {
                padding: 0 65px;
            }
            #theimage{
              display: none;
            }
          </style>
          <div class="container content-wrap">
         
            <div class="row row-content-1">
              <div class="6u top-title top-title-left">
                <p>Tên công ty: Công ty cổ phần Ngô Han</p>
                <p>Địa chỉ: Quận 10, Tp Hồ Chí Minh</p>
              </div>
              <div class="6u top-title top-title-right">
                <p>Mẫu số S03b-DN</p>
                <p>Ban hành theo TT số 200/2014/QĐ-BTC</p>
                <p>Ngày 20/3/2014 của Bộ trường BTC</p>
              </div>
            </div>
            <div class="12u 12u(mobile)">

              <!-- Article list -->
              <section class="box article-list">
                <h2 class="top-title" style="font-weight:bold;">Sổ cái tài khoản <%=maTaiKhoan%></h2>
                <div class="top-title">
                  <p>Tên tài khoản:<%=tenTaiKhoan%></p>
                  <p>Từ ngày: 15/10/2016 đến 30/10/2016</p>
                </div>
                
                <br>
                
                <article class="box excerpt">
                  <div id="thongTinChung" class="account-tb">
                    <table class="pdf-table">
                      <thead>
                        <tr>
                          <th>Chứng từ</th>
                          <th></th>
                          <th>Diễn giải</th>
                          <th>Tài khoản</th>
                          <th>Số tiền</th>
                          <th></th>
                        </tr>
                        <tr>
                          <th>Số</th>
                          <th>Ngày</th>
                          <th></th>
                          <th></th>
                          <th>Nợ</th>
                          <th>Có</th>
                        </tr>
                      </thead>
                      <tbody id="socaitk">
                        <tr>
                          <td></td>
                          <td></td>
                          <td>Số dư đầu kỳ</td>
                          <td></td>
                          <td ></td>
                          <td></td>
                        </tr>
                        <% if(baocao){
                            for(var i=0; i<baocao.length; i++){
                              for(var j=0; j<baocao[i].cacChiTiet.length; j++){
                        %>
                        <tr>
                          <td><%=baocao[i].soChungTu%></td>
                          <td><%=baocao[i].ngayChungTu%></td>
                          <td><%=baocao[i].cacChiTiet[j].dienGiai%></td>
                          <% if(maTaiKhoan == "155" || maTaiKhoan == "1331"){ %>
                          <td>331</td>
                          <td class="tkNo" ='tkNo'+i><%=baocao[i].cacChiTiet[j].cacTaiKhoan[0].tkNo%></td>
                          <td></td>
                          <%} else if(maTaiKhoan == "331"){%>
                          <td>155,1331</td>
                          <td></td>
                          <td class='tkCo'+i><%=baocao[i].cacChiTiet[j].cacTaiKhoan[1].tkCo + 
                                              baocao[i].cacChiTiet[j].cacTaiKhoan[3].tkCo%></td>
                          <%}%>
                          
                          
                        </tr>
                        <%  
                              }  
                            }
                          }
                        %>
                        <tr style="font-weight:bold;">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>Cộng phát sinh</td>
                          <td id="cong-phat-sinh-no"></td>
                          <td id="cong-phat-sinh-co"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </article>
              </section>
            </div>
            <div class="row" style="margin-top:1em;">
              <div class="4u top-title top-title-left top-title-ft">
                <p>Người lập</p>
                <p>Ký và ghi rõ họ tên</p>
              </div>
              <div class="4u top-title top-title-left top-title-ft">
                <p>Kế toán trưởng</p>
                <p>Ký và ghi rõ họ tên</p>
              </div>
              <div class="4u top-title top-title-left top-title-ft">
                <p>5 tháng 11 năm 2016</p>
                <p>Giám đốc</p>
                <p>Ký và ghi rõ họ tên</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="button" id="btnPrint" onclick="to_image()">Print</button>
      <image id="theimage"></image>
    </div>
  </div>

  <% include ../partials/footer %>
</div>

<!-- Scripts -->
<% include ../partials/foot %>
<script src="../js/lib-pdf.js"></script>
<script>
var canvas;
function load(){
  canvas  = document.getElementById("thecanvas"),
  html_container = document.getElementById("thehtml"),
  html = html_container.innerHTML;
  rasterizeHTML.drawHTML(html, canvas);
}
function to_image(){
  var urlData=canvas.toDataURL();
  console.log(urlData);
  var doc = new jsPDF();
  doc.addImage(urlData, 'JPEG', 15, 40, 180, 160);
    doc.save("hoai'ss-ngok'ss.pdf");
}
</script>
</body>
</html>